.u-section-1 .u-sheet-1 {
  min-height: 46px;
}.u-section-2 .u-sheet-1 {
  min-height: 500px;
}

.u-section-2 .u-text-1 {
  margin: 35px 67px 0 427px;
}

.u-section-2 .u-table-1 {
  width: 1078px;
  margin: 31px auto 36px;
}

.u-section-2 .u-table-entity-1 {
  min-height: 100px;
}

.u-section-2 .u-table-header-1 {
  background-image: none;
  letter-spacing: 2px;
  text-transform: uppercase;
  font-weight: 400;
}

.u-section-2 .u-table-body-1 {
  background-image: none;
}

.u-section-2 .u-table-cell-6 {
  border-style: dotted;
}

.u-section-2 .u-table-cell-7 {
  border-style: dotted;
}

.u-section-2 .u-table-cell-8 {
  border-style: dotted;
}

.u-section-2 .u-table-cell-9 {
  border-style: dotted;
}

.u-section-2 .u-table-cell-10 {
  border-style: dotted;
}

.u-section-2 .u-table-cell-11 {
  border-style: dotted;
}

.u-section-2 .u-table-cell-12 {
  border-style: dotted;
}

.u-section-2 .u-table-cell-13 {
  border-style: dotted;
}

.u-section-2 .u-table-cell-14 {
  border-style: dotted;
}

.u-section-2 .u-table-cell-15 {
  border-style: dotted;
}

.u-section-2 .u-table-cell-16 {
  border-style: dotted;
}

.u-section-2 .u-table-cell-17 {
  border-style: dotted;
}

.u-section-2 .u-table-cell-18 {
  border-style: dotted;
}

.u-section-2 .u-table-cell-19 {
  border-style: dotted;
}

.u-section-2 .u-table-cell-20 {
  border-style: dotted;
}

.u-section-2 .u-table-cell-21 {
  border-style: dotted;
}

.u-section-2 .u-table-cell-22 {
  border-style: dotted;
}

.u-section-2 .u-table-cell-23 {
  border-style: dotted;
}

.u-section-2 .u-table-cell-24 {
  border-style: dotted;
}

.u-section-2 .u-table-cell-25 {
  border-style: dotted;
}

.u-block-35b9-37 {
  background-image: none;
}

@media (max-width: 1199px) {
  .u-section-2 .u-text-1 {
    width: auto;
    margin-top: 32px;
    margin-right: -23px;
    margin-left: 316px;
  }

  .u-section-2 .u-table-1 {
    margin-top: 46px;
    margin-bottom: 25px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-2 .u-table-entity-1 {
    height: 325px;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-text-1 {
    margin-left: 206px;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-text-1 {
    margin-left: 116px;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-text-1 {
    margin-right: 0;
    margin-left: 0;
  }
}.u-section-3 .u-sheet-1 {
  min-height: 466px;
}

.u-section-3 .u-text-1 {
  width: 647px;
  margin: -7px auto 0;
}

.u-section-3 .u-table-1 {
  margin-top: 32px;
  margin-bottom: 60px;
}

.u-section-3 .u-table-entity-1 {
  min-height: 100px;
}

.u-section-3 .u-table-header-1 {
  font-weight: 700;
  background-image: none;
}

.u-section-3 .u-table-cell-5 {
  background-image: none;
}

.u-section-3 .u-table-cell-9 {
  background-image: none;
}

.u-section-3 .u-table-cell-13 {
  background-image: none;
}

.u-block-773c-35 {
  background-image: none;
}

@media (max-width: 767px) {
  .u-section-3 .u-text-1 {
    width: 540px;
  }
}

@media (max-width: 575px) {
  .u-section-3 .u-text-1 {
    width: 340px;
  }
}