<!doctype html>
<html lang="en">

<head>
  <title>Connected Lands</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,900" rel="stylesheet">

  <link rel="stylesheet" href="css/bootstrap.css">
  <link rel="stylesheet" href="css/animate.css">
  <link rel="stylesheet" href="css/owl.carousel.min.css">

  <link rel="stylesheet" href="fonts/ionicons/css/ionicons.min.css">
  <link rel="stylesheet" href="fonts/fontawesome/css/font-awesome.min.css">
  <link rel="stylesheet" href="fonts/flaticon/font/flaticon.css">

  <link rel="shortcut icon" href="images/favicon.ico" />
  <link rel="icon" type="image/x-icon" href="images/favicon.ico" />

  <!-- Theme Style -->
  <link rel="stylesheet" href="css/style.css">
</head>
<body>
<header role="banner">
  <nav class="navbar navbar-expand-md navbar-dark bg-light justify-content-center">
    <div class="container row justify-content-between">
      <a class="navbar-brand absolute" href="/">Connected lands</a>
      <div class="navbar-collapse navbar-light row justify-content-center" id="navbarsExample05">
        <ul class="navbar-nav">
          <li class="nav-item">
            <a class="nav-link" href="/">Accueil</a>
          </li>
          <li class="nav-item">
            <a class="nav-link " href="/technologies">Nos technologies</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/blog">Blog</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/contact">Contact</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/service">Mes services</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/register">Inscription</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/login">Connexion</a>
        </ul>
      </div>
    </div>
  </div>
  </nav>
</header>
<!-- END header-->
  <section class="site-hero site-hero-innerpage overlay" data-stellar-background-ratio="0.5"
    style="background-image: url(images/istockphoto-172332960-612x612.jpg);">
    <div class="container">
      <div class="row align-items-center site-hero-inner justify-content-center">
        <div class="col-md-8 text-center">
          <div class="mb-5 element-animate">
            <h1>On travaille pour aider les agriculteures</h1>
            <p class="lead"> Notre outil est un outil intelligent et efficace </p>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- END section -->
  <br></br>
  <!-- Start Features -->
  <section class="features">
    <div class="container">
      <div class="row">
        <!-- Features Single -->
        <div class="col-md-4 col-sm-4 col-xs-12 features-single">
          <h2>Gestion de stock</h2>
          <p>Date de plantation et date de récolte</p>
        </div>
        <!--/ End Features Single -->
        <!-- Features Single -->
        <div class="col-md-4 col-sm-4 col-xs-12 features-single active ">
          <h2>Gestion de protection</h2>
          <p>Contre le soleil ou une forte pluie</p>
        </div>
        <!--/ End Features Single -->
        <!-- Features Single -->
        <div class="col-md-4 col-sm-4 col-xs-12 features-single">
          <h2>Gestion d'eau</h2>
          <p>Analyser l'état de l'humidité</p>
        </div>
        <!--/ End Features Single -->
      </div>
    </div>
  </section>
  <!--/ End Features -->
  <br></br>
  <section class="site-section bg-light">
    <div class="container">
      <div class="row justify-content-center mb-5">
        <div class="col-md-7 text-center">
          <h2>Pourquoi nous choisir?</h2>
        </div>
      </div>
      <div class="row mb-5 align-items-center">
        <div class="col-md-6 overflow order-1">
          <img src="images/gros-plan-homme-aide-tablette-dans-champ_23-2148233377.jpg" alt="" class="img-fluid">
        </div>
        <div class="col-md-1 order-2"></div>
        <div class="col-md-5 order-3">
          <h2 class="mb-4">Notre outil</h2>
          <p>Nous offrons un outil numérique et technologique qui permettra de travailler encore plus efficacement et
            mieux gérer ses récoltes, un outil intelligent et efficace.</p>
        </div>
      </div>
      <div class="row align-items-center">
        <div class="col-md-6 overflow order-3">
          <img src="images/agriculture-intelligente-iot-fond-arbre-plantation-main_53876-124627.jpg" alt=""
            class="img-fluid">
        </div>
        <div class="col-md-1 order-2"></div>
        <div class="col-md-5 order-1">
          <h2 class="mb-4">Le produit</h2>
          <p>Ce produit est accessible en achetant une licence, et la parcelle de champ est louée à prix bas.
          </p>
        </div>
      </div>
      <div class="row mb-5 align-items-center">
        <div class="col-md-6 overflow order-1">
          <img src="images/angularjss.jpg" alt="" class="img-fluid">
        </div>
        <div class="col-md-1 order-2"></div>
        <div class="col-md-5 order-3">
          <h2 class="mb-4">Nos terrains</h2>
          <p>Nous allons préparer un terrain agricole qui aura des outils pour mesurer l'état de la lumière, humidité et
            température ça permettra de travailler plus efficacement.</p>
        </div>
      </div>
    </div>
  </section>
  <footer class="site-footer" style="background-image: url(images/download.png);">
    <div class="container">
      <div class="row mb-4">
        <div class="col-md-4">
          <h3>A propos </h3>
          <p>Connected lands est un site et une application pour aider les agriculteurs.</p>
        </div>
        <div class="col-md-6 ml-auto">
          <div class="d-flex justify-content-between">
            <div class="col-md-4">
              <ul class="list-unstyled">
                <li><a href="accueil.html">Accueil</a></li>
                <li><a href="notretechnologie.html">Nos technologies</a></li>
                <li><a href="Blog.html">Blog</a></li>
                <li><a href="contact.html">Contact</a></li>
              </ul>
            </div>
            <div class="col-md-4">
              <img src="images/logo_sans_texte.png" alt="Image placeholder" style="width:100%;">
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12">
        </div>
      </div>
    </div>
  </footer>
  <!-- loader -->
  <div id="loader" class="show fullscreen"><svg class="circular" width="48px" height="48px">
      <circle class="path-bg" cx="24" cy="24" r="22" fill="none" stroke-width="4" stroke="#eeeeee" />
      <circle class="path" cx="24" cy="24" r="22" fill="none" stroke-width="4" stroke-miterlimit="10"
        stroke="#f4b214" />
    </svg></div>
  <script src="js/jquery-3.2.1.min.js"></script>
  <script src="js/jquery-migrate-3.0.0.js"></script>
  <script src="js/popper.min.js"></script>
  <script src="js/bootstrap.min.js"></script>
  <script src="js/owl.carousel.min.js"></script>
  <script src="js/jquery.waypoints.min.js"></script>
  <script src="js/jquery.stellar.min.js"></script>
  <script src="js/main.js"></script>
</body>

</html>