<!doctype html>
<html lang="en">
  <head>
    <title>Connected Lands</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,900" rel="stylesheet">

    <link rel="stylesheet" href="css/bootstrap.css">
    <link rel="stylesheet" href="css/animate.css">
    <link rel="stylesheet" href="css/owl.carousel.min.css">

    <link rel="stylesheet" href="fonts/ionicons/css/ionicons.min.css">
    <link rel="stylesheet" href="fonts/fontawesome/css/font-awesome.min.css">
    <link rel="stylesheet" href="fonts/flaticon/font/flaticon.css">

    <link rel="shortcut icon" href="images/favicon.ico" />
    <link rel="icon" type="image/x-icon" href="images/favicon.ico" />

    <!-- Theme Style -->
    <link rel="stylesheet" href="css/style.css">
  </head>
  <body>
    <header role="banner">
      <nav class="navbar navbar-expand-md navbar-dark bg-light justify-content-center">
        <div class="container row justify-content-between">
          <a class="navbar-brand absolute" href="/">Connected lands</a>
          <div class="navbar-collapse navbar-light row justify-content-center" id="navbarsExample05">
            <ul class="navbar-nav">
              <li class="nav-item">
                <a class="nav-link" href="/">Accueil</a>
              </li>
              <li class="nav-item">
                <a class="nav-link " href="/technologies">Nos technologie</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/blog">Blog</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/app.js">Contact</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/service">Mes services</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/register">Inscription</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/login">Connexion</a>
            </ul>
          </div>
        </div>
      </div>
      </nav>
    </header>
    <!-- END header -->

    <section class="site-hero site-hero-innerpage overlay" data-stellar-background-ratio="0.5"
    style="background-image: url(images/istockphoto-172332960-612x612.jpg);">
    <div class="container">
        <div class="row align-items-center site-hero-inner justify-content-center">
          <div class="col-md-8 text-center">

            <div class="mb-5 element-animate">
              <h1>Connectez-Vous</h1>
            </div>
          </div>
        </div>
      </div>
    </section>
    <!-- END section -->


    <section class="site-section bg-light">
      <div class="container">
        <div class="row justify-content-center">
          <div class="col-md-5 box">
            <h2 class="mb-5">Connectez-vous avec vos identifiants</h2>
            <form action="/authentication" method="post">
              <div class="row">
                <div class="col-md-12 form-group">
                  <label for="name">Identifiant</label>
                  <input type="text" name="email" class="form-control ">
                </div>
              </div>
              <div class="row mb-5">
                <div class="col-md-12 form-group">
                  <label for="name">Mot de passe</label>
                  <input type="password" name="password" class="form-control ">
                </div>
              </div>
              
              <div class="row">
                <div class="col-md-6 form-group">
                  <input type="submit" value="Valider" class="btn btn-primary">
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
    </section>
    <!-- END section -->

    <footer class="site-footer" style="background-image: url(images/download.png);">
      <div class="container">
        <div class="row mb-4">
          <div class="col-md-4">
            <h3>A propos </h3>
            <p>Connected lands est un site et une application pour aider les agriculteurs.</p>
          </div>
          <div class="col-md-6 ml-auto">
            <div class="d-flex justify-content-between">
              <div class="col-md-4">
                <ul class="list-unstyled">
                  <li><a href="/accueil">Accueil</a></li>
                  <li><a href="/technologies">Nos technologies</a></li>
                  <li><a href="/blog">Blog</a></li>
                  <li><a href="/contact">Contact</a></li>
                </ul>
              </div>
              <div class="col-md-4">
                <img src="images/logo_sans_texte.png" alt="Image placeholder" style="width:100%;">
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-12">
          </div>
        </div>
      </div>
    </footer>
    <!-- END footer -->
    
    <!-- loader -->
    <div id="loader" class="show fullscreen"><svg class="circular" width="48px" height="48px"><circle class="path-bg" cx="24" cy="24" r="22" fill="none" stroke-width="4" stroke="#eeeeee"/><circle class="path" cx="24" cy="24" r="22" fill="none" stroke-width="4" stroke-miterlimit="10" stroke="#f4b214"/></svg></div>

    <script src="js/jquery-3.2.1.min.js"></script>
    <script src="js/jquery-migrate-3.0.0.js"></script>
    <script src="js/popper.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script src="js/owl.carousel.min.js"></script>
    <script src="js/jquery.waypoints.min.js"></script>
    <script src="js/jquery.stellar.min.js"></script>

    
    <script src="js/main.js"></script>
  </body>
</html>