<!doctype html>
<html lang="en">

<head>
  <title>Connected Lands</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,900" rel="stylesheet">

  <link rel="stylesheet" href="css/bootstrap.css">
  <link rel="stylesheet" href="css/animate.css">
  <link rel="stylesheet" href="css/owl.carousel.min.css">

  <link rel="stylesheet" href="fonts/ionicons/css/ionicons.min.css">
  <link rel="stylesheet" href="fonts/fontawesome/css/font-awesome.min.css">
  <link rel="stylesheet" href="fonts/flaticon/font/flaticon.css">

  <link rel="shortcut icon" href="images/favicon.ico" />
  <link rel="icon" type="image/x-icon" href="images/favicon.ico" />

  <!-- Theme Style -->
  <link rel="stylesheet" href="css/style.css">
</head>

<body class="u-body u-xl-mode" data-lang="en">
<header role="banner">
  <nav class="navbar navbar-expand-md navbar-dark bg-light justify-content-center">
    <div class="container row justify-content-between">
      <a class="navbar-brand absolute" href="/">Connected lands</a>
      <div class="navbar-collapse navbar-light row justify-content-center" id="navbarsExample05">
        <ul class="navbar-nav">
          <li class="nav-item">
            <a class="nav-link" href="/">Accueil</a>
          </li>
          <li class="nav-item">
            <a class="nav-link " href="/technologies">Nos technologies</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/blog">Blog</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/contact">Contact</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/service">Mes services</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/register">Inscription</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/login">Connexion</a>
        </ul>
      </div>
    </div>
  </div>
  </nav>
</header>
<!-- END header-->
  <section class="site-hero site-hero-innerpage overlay" data-stellar-background-ratio="0.5"
    style="background-image: url(images/istockphoto-172332960-612x612.jpg);">
    <div class="container">
      <div class="row align-items-center site-hero-inner justify-content-center">
        <div class="col-md-8 text-center">
          <div class="mb-5 element-animate">
            <h1>On travaille pour aider les agriculteurs</h1>
            <p class="lead"> Notre outil est un outil intelligent et efficace </p>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- END section -->

  <br></br>

<!-- START section -->  

<link rel="stylesheet" href="css/service2.css" media="screen">
<link rel="stylesheet" href="css/service.css" media="screen">
  <section class="u-clearfix u-section-1" id="sec-9ff1">
    <div class="u-clearfix u-sheet u-sheet-1"></div>
  </section>
  <section class="u-clearfix u-section-2" id="sec-3918">
    <div class="u-clearfix u-sheet u-sheet-1">
      <h2 class="u-custom-font u-font-playfair-display u-text u-text-1">Gérer votre stock</h2>
      <div class="u-expanded-width-lg u-expanded-width-md u-expanded-width-sm u-expanded-width-xs u-table u-table-responsive u-table-1">
        <table class="u-table-entity u-table-entity-1">
          <colgroup>
            <col width="19.4%">
            <col width="20.4%">
            <col width="19.9%">
            <col width="19.9%">
            <col width="20.4%">
          </colgroup>
          <thead class="u-palette-5-dark-2 u-table-header u-table-header-1">
            <tr style="height: 78px;">
              <th class="u-border-2 u-border-no-left u-border-no-right u-border-no-top u-border-palette-5-dark-1 u-table-cell">Produit</th>
              <th class="u-border-2 u-border-no-left u-border-no-right u-border-no-top u-border-palette-5-dark-1 u-table-cell">Date de plantation</th>
              <th class="u-border-2 u-border-no-left u-border-no-right u-border-no-top u-border-palette-5-dark-1 u-table-cell">Date de récolte</th>
              <th class="u-border-2 u-border-no-left u-border-no-right u-border-no-top u-border-palette-5-dark-1 u-table-cell">&nbsp; &nbsp; &nbsp; &nbsp;Pertes</th>
              <th class="u-border-2 u-border-no-left u-border-no-right u-border-no-top u-border-palette-5-dark-1 u-table-cell">&nbsp;Quantité &nbsp;planté</th>
              <th class="u-border-2 u-border-no-left u-border-no-right u-border-no-top u-border-palette-5-dark-1 u-table-cell">Quantité récolté</th>
            </tr>
          </thead>
          <tbody class="u-palette-5-dark-3 u-table-body u-table-body-1">
            <tr style="height: 70px;">
              <td class="u-border-1 u-border-palette-5-dark-1 u-table-cell u-table-cell-6">Fraise</td>
              <td class="u-border-1 u-border-palette-5-dark-1 u-table-cell u-table-cell-7">01/11/2022</td>
              <td class="u-border-1 u-border-palette-5-dark-1 u-table-cell u-table-cell-8">01/05/2023</td>
              <td class="u-border-1 u-border-palette-5-dark-1 u-table-cell u-table-cell-9">30 kg</td>
              <td class="u-border-1 u-border-palette-5-dark-1 u-table-cell u-table-cell-10">100 kg</td>
              <td class="u-border-1 u-border-palette-5-dark-1 u-table-cell u-table-cell-11">70 kg</td>
            </tr>
            <tr style="height: 72px;">
              <td class="u-border-1 u-border-palette-5-dark-1 u-table-cell u-table-cell-12">Tomate</td>
              <td class="u-border-1 u-border-palette-5-dark-1 u-table-cell u-table-cell-13">15/11/2022</td>
              <td class="u-border-1 u-border-palette-5-dark-1 u-table-cell u-table-cell-14">15/03/2023</td>
              <td class="u-border-1 u-border-palette-5-dark-1 u-table-cell u-table-cell-15">5 kg</td>
              <td class="u-border-1 u-border-palette-5-dark-1 u-table-cell u-table-cell-16">50 kg</td>
              <td class="u-border-1 u-border-palette-5-dark-1 u-table-cell u-table-cell-17">45 kg</td>
            </tr>
            <tr style="height: 65px;">
              <td class="u-border-1 u-border-palette-5-dark-1 u-table-cell u-table-cell-18">Carotte</td>
              <td class="u-border-1 u-border-palette-5-dark-1 u-table-cell u-table-cell-19">25/11/2022</td>
              <td class="u-border-1 u-border-palette-5-dark-1 u-table-cell u-table-cell-20">30/04/2023</td>
              <td class="u-border-1 u-border-palette-5-dark-1 u-table-cell u-table-cell-21">10 kg</td>
              <td class="u-border-1 u-border-palette-5-dark-1 u-table-cell u-table-cell-22">55 kg</td>
              <td class="u-border-1 u-border-palette-5-dark-1 u-table-cell u-table-cell-23">55 kg</td>
            </tr>
            <tr style="height: 72px;">
              <td class="u-border-1 u-border-palette-5-dark-1 u-table-cell u-table-cell-24">Pomme de terre</td>
              <td class="u-border-1 u-border-palette-5-dark-1 u-table-cell u-table-cell-25">01/12/2022</td>
              <td class="u-border-1 u-border-palette-5-dark-1 u-table-cell u-table-cell-26">05/03/2023</td>
              <td class="u-border-1 u-border-palette-5-dark-1 u-table-cell u-table-cell-27">5 kg</td>
              <td class="u-border-1 u-border-palette-5-dark-1 u-table-cell u-table-cell-28">70 kg</td>
              <td class="u-border-1 u-border-palette-5-dark-1 u-table-cell u-table-cell-29">65 kg</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </section>
  <section class="u-align-center u-clearfix u-section-3" id="sec-c574">
    <div class="u-clearfix u-sheet u-sheet-1">
      <h2 class="u-custom-font u-font-playfair-display u-text u-text-1">L'énergie</h2>
      <div class="u-expanded-width u-table u-table-responsive u-table-1">
        <table class="u-table-entity u-table-entity-1">
          <colgroup>
            <col width="25%">
            <col width="25%">
            <col width="25%">
            <col width="25%">
          </colgroup>
          <thead class="u-black u-table-header u-table-header-1">
            <tr style="height: 21px;">
              <th class="u-border-1 u-border-black u-table-cell"></th>
              <th class="u-border-1 u-border-black u-table-cell">Fraise</th>
              <th class="u-border-1 u-border-black u-table-cell">Tomate</th>
              <th class="u-border-1 u-border-black u-table-cell">Carotte</th>
            </tr>
          </thead>
          <tbody class="u-table-alt-grey-5 u-table-body">
            <tr style="height: 75px;">
              <td class="u-border-1 u-border-grey-30 u-first-column u-grey-50 u-table-cell u-table-cell-5">Luminosité</td>
              <td class="u-border-1 u-border-grey-30 u-table-cell">6000 kelvin</td>
              <td class="u-border-1 u-border-grey-30 u-table-cell">5500 kelvin</td>
              <td class="u-border-1 u-border-grey-30 u-table-cell">6500 kelvin</td>
            </tr>
            <tr style="height: 76px;">
              <td class="u-border-1 u-border-grey-30 u-first-column u-grey-50 u-table-cell u-table-cell-9">Température</td>
              <td class="u-border-1 u-border-grey-30 u-table-cell">20°C</td>
              <td class="u-border-1 u-border-grey-30 u-table-cell">25°C</td>
              <td class="u-border-1 u-border-grey-30 u-table-cell">20°C</td>
            </tr>
            <tr style="height: 81px;">
              <td class="u-border-1 u-border-grey-30 u-first-column u-grey-50 u-table-cell u-table-cell-13">Humidité</td>
              <td class="u-border-1 u-border-grey-30 u-table-cell">55%</td>
              <td class="u-border-1 u-border-grey-30 u-table-cell">50%</td>
              <td class="u-border-1 u-border-grey-30 u-table-cell">60%</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </section>

<!-- END section -->   

  <footer class="site-footer" style="background-image: url(images/download.png);">
    <div class="container">
      <div class="row mb-4">
        <div class="col-md-4">
          <h3>A propos </h3>
          <p>Connected lands est un site et une application pour aider les agriculteurs.</p>
        </div>
        <div class="col-md-6 ml-auto">
          <div class="d-flex justify-content-between">
            <div class="col-md-4">
              <ul class="list-unstyled">
                <li><a href="accueil.html">Accueil</a></li>
                <li><a href="notretechnologie.html">Nos technologies</a></li>
                <li><a href="Blog.html">Blog</a></li>
                <li><a href="contact.html">Contact</a></li>
              </ul>
            </div>
            <div class="col-md-4">
              <img src="images/logo_sans_texte.png" alt="Image placeholder" style="width:100%;">
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12">
        </div>
      </div>
    </div>
  </footer>
  <!-- END footer -->
  
  <!-- loader -->
  <div id="loader" class="show fullscreen"><svg class="circular" width="48px" height="48px"><circle class="path-bg" cx="24" cy="24" r="22" fill="none" stroke-width="4" stroke="#eeeeee"/><circle class="path" cx="24" cy="24" r="22" fill="none" stroke-width="4" stroke-miterlimit="10" stroke="#f4b214"/></svg></div>

  <!-- <script>
      var valid = document.getElementById('bouton_envoi');
      var mdp = document.getElementById('mdp');
      var mdp_confirm = document.getElementById('mdp_confirm');
      var erreur_mdp = document.getElementById('erreur_mdp');
      valid.addEventListener('click',validation);

      function validation(form) {
          if (mdp.value!=mdp_confirm.value){
              form.preventDefault();
              erreur_mdp.textContent = "Les mots de passe ne correspondent pas";
              erreur_mdp.style.color = "red";
          }
      }
  </script> -->
  <script src="js/jquery-3.2.1.min.js"></script>
  <script src="js/jquery-migrate-3.0.0.js"></script>
  <script src="js/popper.min.js"></script>
  <script src="js/bootstrap.min.js"></script>
  <script src="js/owl.carousel.min.js"></script>
  <script src="js/jquery.waypoints.min.js"></script>
  <script src="js/jquery.stellar.min.js"></script>

  
  <script src="js/main.js"></script>
</body>
</html>